@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #51e58f88;
  --primary-light: #70ff7754;
  --second-dark: #2758f8c2;
  --second-light: #a1b7d3;
}

@layer base {
  h1 {
    @apply font-bold text-3xl md:text-5xl;
  }

  .button {
    @apply border bg-gradient-to-r from-[var(--second-dark)] to-[var(--second-light)] text-white rounded-md;
  }

  .button2 {
    @apply border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
  }
  /* .feature {
    @apply py-4 px-4 border rounded-md shadow-md hover:shadow-lg hover:shadow-green-200;
  } */
  .feature h3 {
    @apply text-left font-bold mb-3 text-gray-700;
  }

  .fixedCell {
    @apply w-[100px] h-[56px];
  }
  body {
    @apply text-slate-800;
  }
  .garden_list {
    @apply mt-[320px] bg-neutral-800 px-[30px] pt-[20px] text-center rounded-md;
  }

  .garden_list h3 {
    @apply text-xl m-[5px];
  }

  .garden_list ul li {
    @apply text-green-100 my-[1px];
  }
}
